.container {
  max-width: 47.75rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.postDetails {
  display: flex;
  align-items: center;

  .detail + .detail {
    margin-left: 1.5rem;
  }

  .detail {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--gray-700);
    line-height: 1.062rem;

    img {
      margin-right: 0.5rem;
    }
  }
}
